:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #f53f2d;
  --text-color: #333;
}

.product__item {
  background-color: var(--white-color);
  transition: transform linear 0.1s;
  will-change: transform;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.product__item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 20px 5px rgba(225, 225, 225, 0.9);
}

.product__back {
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.product__name {
  margin: 14px 10px 10px;
  font-size: 0.9rem;
  line-height: 20px;
  color: var(--text-color);
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product__price {
  display: flex;
}

.product__price-old {
  font-size: 0.8rem;
  margin-left: 8px;
  line-height: 16px;
  font-size: 11px;
  text-decoration: line-through;
  color: var(--text-color);
  opacity: 0.6;
}

.product__price-current {
  margin-right: 8px;
  font-size: 1rem;
  color: var(--primary-color);
}

.product__action {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 6px;
  color: var(--text-color);
}

.product__action-star {
  margin-left: auto;
  margin-right: 4px;
}

.product__action-star i {
  font-size: 0.8rem;
}

.product__action-sold {
  font-size: 0.7rem;
  color: var(--text-color);
  letter-spacing: -0.4px;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  margin: 4px 10px 4px;
  font-size: 0.7rem;
  color: var(--text-color);
  opacity: 0.8;
}

.product__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  padding: 0 6px;
  font-size: 0.8rem;
  color: var(--primary-color);
  background-color: currentColor;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.product__favourite::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
  filter: brightness(0.7);
}

.product__favourite i {
  color: var(--white-color);
  letter-spacing: 0.8px;
}

.product__sale {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 36px;
  padding: 3px;
  border-top-right-radius: 3px;
  background-color: #edd600;
}

.product__sale-percent {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--primary-color);
}

.product__sale-p {
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--white-color);
}

.product__sale::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  border-width: 0 20px 5px;
  border-style: solid;
  border-color: transparent #edd600 transparent #edd600;
}
