.slider__controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin: auto;
}

.next {
  height: 52px;
  width: 52px;
  background-color: #ffffff !important;
  border: none;
  border-radius: 50%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.next .btn--icon {
  position: relative;
  left: 22px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid #fa4b37;
}

.prev {
  height: 52px;
  width: 52px;
  background-color: #ffffff !important;
  border: none;
  border-radius: 50%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.prev .btn--icon {
  position: relative;
  left: 17px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid #fa4b37;
}
